<nav class="navbar navbar-default">
  <div class="container-fluid">
      <% if user_signed_in? %>
        <button type="button" class="btn btn-defualt navbar-btn pull-right">
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
        </button>
      <% else %>
        <button type="button" class="btn btn-defualt navbar-btn pull-right">
          <%= link_to 'Sign up', new_user_registration_path %>
        </button>
        <button type="button" class="btn btn-default navbar-btn pull-right">
          <%= link_to 'Login', new_user_session_path %>
        </button>
        <button type="button" class="btn btn-default navbar-btn pull-right">
          <a href="/users/auth/twitter">Sign in with Twitter</a>
        </button>
      <% end %>
  <div>
</nav>
